.blog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0d564a;
	padding: 1.25rem;
	color: rgb(255, 255, 255);
	font-family: 'Rawwatan', sans-serif;
}

/* Stil pentru logo È™i titlu */
.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 3rem;
	height: 3rem;
	margin-right: 0.625rem;
}

.logo h1 {
	font-size: 2.8125rem;
	margin: 0;
}

/* Styling pentru meniul din dreapta */
.menu {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	font-size: 1.5625rem;
}

.menu li {
	position: relative;
}

.menu a {
	text-decoration: none;
	color: #fff;
	padding: 0.625rem 0.9375rem;
	display: block;
}

.menu a:hover {
	background-color: #00796b;
	border-radius: 0.3125rem;
}

.dropdown-menu {
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #00796b;
	padding: 0;
	margin: 0;
	display: none;
	min-width: 9.375rem;
	box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.dropdown-menu li {
	width: 100%;
}

.dropdown-menu a {
	padding: 0.625rem;
	display: block;
	color: #fff;
}

.dropdown-menu a:hover {
	background-color: #004d40;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.625rem;
}

body {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	background-color: #63bd8781;
	color: #333;
}

header {
	background-color: #0d564a;
	color: #fff;
	padding: 0.9375rem 1.25rem;
	text-align: center;
}

header h1 {
	margin: 0;
}

.container {
	max-width: 50rem;
	margin: 1.25rem auto;
	padding: 1.25rem;
	background: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.about-image {
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.25rem;
}

h2 {
	color: #0d564a;
}

p {
	line-height: 1.6;
}

.footer {
	background-color: #0d564a;
	color: #fff;
	text-align: center;
	padding: 1.25rem 0;
}

.footer-text {
	font-family: 'Rawwatan', sans-serif;
	font-size: 1.5625rem;
	margin: 0;
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 1.25rem;
	margin-bottom: 0.625rem;
}

.social-logo {
	width: 2.5rem;
	height: 2.5rem;
	transition: transform 0.3s ease;
}

.social-logo:hover {
	transform: scale(1.1);
}

/* Media Queries pentru design responsive */

@media screen and (max-width: 1320px) and (min-width: 990px) {
	.logo h1 {
		font-size: 2.5rem;
	}

	.menu {
		font-size: 1.375rem;
	}

	.footer-text {
		font-size: 1.375rem;
	}

	.social-logo {
		width: 2rem;
		height: 2rem;
	}
}

@media screen and (max-width: 989px) and (min-width: 600px) {
	.logo h1 {
		font-size: 2.2rem;
	}

	.menu {
		font-size: 1.25rem;
	}

	.container {
		max-width: 40rem;
	}

	.footer-text {
		font-size: 1.25rem;
	}

	.social-logo {
		width: 2rem;
		height: 2rem;
	}
}

@media screen and (max-width: 599px) {
	.blog-header {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
	}

	.logo h1 {
		font-size: 1.5rem;
	}

	.menu {
		flex-direction: row;
		align-items: center;
		font-size: 0.7rem;
		gap: 0.1rem;
		width: auto;
	}

	.menu a {
		padding: 0.5rem 1rem;
	}

	.footer-text {
		font-size: 1.125rem;
	}

}