.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d564a;
  padding: 1.25rem;
  color: rgb(255, 255, 255);
  font-family: 'Rawwatan', sans-serif;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #63bd8781;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.625rem;
}

.logo h1 {
  font-size: 2.8125rem;
  margin: 0;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.5625rem;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 0.625rem 0.9375rem;
  display: block;
}

.menu a:hover {
  background-color: #00796b;
  border-radius: 0.3125rem;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00796b;
  padding: 0;
  margin: 0;
  display: none;
  min-width: 9.375rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  padding: 0.625rem;
  display: block;
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #004d40;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
}

.gallery {
  background-image: url('../poze/fundaldesti.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #63bd8781;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #fff;
  margin-bottom: 1.25rem;
}

.gallery {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

.destination {
  position: relative;
  overflow: hidden;
  width: 28.125rem;
  height: 18.75rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.destination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0);
}

.destination span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s;
}

@keyframes animateDestination {
  0% {
    transform: scale(1) rotate(0);
    filter: blur(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1) rotate(3deg);
    filter: blur(0.2rem);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.05) rotate(0);
    filter: blur(0.1rem);
    opacity: 1;
  }
}

.destination:hover img {
  animation: animateDestination 1.5s ease-in-out;
}

.destination:hover span {
  opacity: 1;
}

.recommendation-section {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recommend-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #0d564a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.recommend-button:hover {
  background-color: #00796b;
  transform: scale(1.05);
}

#recommendation-container {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: #0d564a;
}

.footer {
  background-color: #0d564a;
  color: #fff;
  text-align: center;
  padding: 1.25rem 0;
}

.footer-text {
  font-family: 'Rawwatan', sans-serif;
  font-size: 1.5625rem;
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 0.625rem;
}

.social-logo {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease;
}

.social-logo:hover {
  transform: scale(1.1);
}


/* Media Queries pentru design responsive */

/* Pentru tablete mai mari și desktopuri mici */
@media screen and (max-width: 1320px) and (min-width: 990px) {
  .text-box h1 {
    font-size: 2.5rem; 
  }

  .menu {
    font-size: 1.25rem; 
  }

  .text1 {
    font-size: 1.125rem; 
  }

  .footer-text {
    font-size: 1.25rem; 
  }

  .gallery {
    gap: 1.25rem;
  }
}

/* Pentru tablete și desktopuri mai mici */
@media screen and (max-width: 989px) and (min-width: 600px) {
  .text-box h1 {
    font-size: 2rem;
  }

  .menu {
    font-size: 1.125rem;
  }

  .logo h1 {
    font-size: 2rem;
  }

  .text1 {
    font-size: 1.125rem;
  }

  .footer-text {
    font-size: 1.25rem;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .destination {
    width: 20rem;
    height: 15rem;
  }

  .footer {
    padding: 1rem 0;
  }
}

/* Pentru telefoane */
@media screen and (max-width: 599px) {
  .blog-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  .menu {
    flex-direction: row;
    align-items: center;
    font-size: 0.7rem;
    gap: 0.1rem;
    width: auto;
  }

  .menu a {
    padding: 0.5rem 1rem;
  }

  .gallery {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }

  .destination {
    width: 100%;
    height: auto;
  }

  .footer-text {
    font-size: 1.125rem;
  }

  .social-logo {
    width: 2rem;
    height: 2rem;
  }

  .footer {
    padding: 1rem 0;
  }

  .container {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 90%;
  }

  .about-image {
    margin-bottom: 1rem;
  }
}
